<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <title>Elixir Blog</title> 
    <link rel="stylesheet" href="/assets/css/app.css" /> 
    <style> 
* { --tw-bg-opacity: 1 !important; --tw-text-opacity: 1 !important; } 
.bg-red-600 { background: red !important; } 
.bg-blue-600 { background: blue !important; } 
.text-white { color: white !important; } 
    </style> 
  </head> 
  <body> 
    {@inner_content} 
  </body> 
</html> 
